.footer{
    background-color: var(--secondary-color);
    color: var(--gray);
    padding: 20px;
}

.footer__title{
    font-family: var(--heading);
    margin-top: 50px;
}

.footer__list{
    margin: 20px;
}

.footer__content{
    margin: 10px 0;
    font-size: var(--fs-s);
}

.footer__socials {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 10px;
}