.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    color: var(--light);
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-1000px);
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);
    background-image: url(/assets/icon/menu-background-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.menu[aria-hidden="false"] {
    transform: translateY(0);
    visibility: visible;
}

.sous-menu{
    display: none;
}

.sous-menu[aria-hidden="false"] {
    display: flex;
    justify-content: space-around;
}

.menu__list{
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu__link {
    align-items: center;
    font-family: var(--heading);
    font-size: var(--fs-xxl);
}

.sous-menu__link {
    font-family: var(--heading);
    font-size: var(--fs-l);
}

.menu__lang-switch{
    display: flex;
    justify-content: center;
    font: var(--heading);
    font-size: var(--fs-xl);
}
