.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    color: var(--light);
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(1000px);
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);
    background-image: url(/assets/icon/menu-background-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.sous-menu{
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.32s ease-in-out;
}

.sous-menu[aria-hidden="false"] {
    max-height: 200px;
}

.menu__list{
    transform: translateY(100px);
    padding: 0 20px;
}

.sous-menu__list{
    padding: 0 50px;
}

.menu__item{
    margin: 10px 0;
}

.menu__link {
    font-family: var(--heading);
    font-size: var(--fs-xxl);
}

.sous-menu__link {
    font-family: var(--heading);
    font-size: var(--fs-l);
}

.menu__lang-switch{
    display: flex;
    justify-content: center;
    font: var(--heading);
    font-size: var(--fs-xl);
}
