.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    color: var(--light);
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(1000px);
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);
    background-image: url(/assets/icon/menu-background-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__list{
    transform: translateY(100px);
    padding: 0 20px;
}

.menu__item{
    margin: 15px 0;
}

.menu__link {
    display: flex;
    justify-content: space-between;
    font-family: var(--heading);
    font-size: var(--fs-xxl);
}

.menu__lang-switch{
    display: flex;
    justify-content: center;
    font: var(--heading);
    font-size: var(--fs-xl);
}
